{% extends 'layout.html' %}
{% block content %}

	<!-- //header -->

	<!-- banner -->
	<div class="pogoSlider" id="js-main-slider">
		<div class="pogoSlider-slide" data-transition="verticalSlide" data-duration="2000" style="background-image:url(../static/images/1.jpg);">
			<div class="pogoSlider-slide-element">
				<div class="container">
					<h3 class="text-white">“When words become unclear, I shall focus with photographs. 
						                    When images become inadequate, I shall be content with silence.”
				   </h3>
				</div>
			</div>
		</div>
		<div class="pogoSlider-slide" data-transition="zipReveal" data-duration="2000" style="background-image:url(../static/images/2.jpg);">

			<div class="pogoSlider-slide-element">
				<div class="container">
					<h3 class="text-white">“There is one thing the photo must contain – the humanity of the moment.”</h3>
				</div>
			</div>
		</div>
		<div class="pogoSlider-slide " data-transition="Bars Reveal Down" data-duration="2000" style="background-image:url(../static/images/4.jpg);">
			<div class="pogoSlider-slide-element">
				<div class="container">
					<h3 class="text-white">“A good snapshot keeps a moment that s gone from running away.”</h3>
				</div>
			</div>
		</div>
		<div class="pogoSlider-slide " data-transition="shrinkReveal" data-duration="2000" style="background-image:url(../static/images/3.jpg);">
			<div class="pogoSlider-slide-element">
				<div class="container">
					<h3 class="text-white">“A portrait is not made in the camera but on either side of it.”</h3>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->

	<!-- about -->
	<section class="banner-bottom-w3layouts py-5" id="about">
		<div class="container py-xl-5 py-lg-3">
			<div class="row mt-lg-5">
				<div class="col-lg-5 about-img text-center">
					<img src="../static/images/about us.jpeg" alt="" class="img-fluid" height="300" width="300">
				</div>
				<div class="col-lg-7 about-w3ls-mk">
					<!-- heading title -->
					<div class="main-title mb-md-5 mb-4">
						<h3 class="tittle text-uppercase font-weight-bold">About Us</h3>
						<div class="title-icon title-icon2">
							<i class="fas fa-camera"></i>
						</div>
						<p style="font-size: 20px;">Our aim is to create a platform that helps people interested in photography to showcase their talents and
							also helps them to make a living. The platform will help to create a repository of user-uploaded images.
							Contests are introduced in order to find the hidden talent in people around us and encourage users to add
							to the repository of images. The platform catalogues images according to various attributes and can be 
							searched for by users. The collection of images can be purchased or downloaded by users for free or for
							a price for premium images.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- //about -->

	<!-- middle Img -->
	<div class="photo-style-img">

	</div>


	<!-- testimonials -->
	<section class="clients py-5" id="testimonials">
		<div class="container py-xl-5 py-lg-3">
			<!-- heading title -->
			<div class="main-title text-center mb-5">
				<h3 class="tittle text-uppercase font-weight-bold">Testimonials</h3>
				<div class="title-icon">
					<i class="fas fa-camera"></i>
				</div>
				<p class="sub-tittle">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation</p>
			</div>
			<!-- //heading title -->
			<div class="owl-carousel owl-theme">
				<div class="item">
					<div class="feedback-info text-center">
						<div class="feedback-top border">
							<h4 class="mb-3 text-dark font-weight-bold">Mary Jane</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod.</p>
						</div>
						<div class="feedback-img">
							<img src="../static/images/te1.jpg" class="img-fluid rounded-circle" alt="" />
						</div>
					</div>
				</div>
				<div class="item">
					<div class="feedback-info text-center">
						<div class="feedback-top border">
							<h4 class="mb-3 text-dark font-weight-bold">Steven Wison</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod.</p>
						</div>
						<div class="feedback-img">
							<img src="../static/images/te2.jpg" class="img-fluid rounded-circle" alt="" />
						</div>
					</div>
				</div>
				<div class="item">
					<div class="feedback-info text-center">
						<div class="feedback-top border">
							<h4 class="mb-3 text-dark font-weight-bold">Guptil Jone</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod.</p>
						</div>
						<div class="feedback-img">
							<img src="../static/images/te3.jpg" class="img-fluid rounded-circle" alt="" />
						</div>
					</div>
				</div>
				<div class="item">
					<div class="feedback-info text-center">
						<div class="feedback-top border">
							<h4 class="mb-3 text-dark font-weight-bold">Mary Jane</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod.</p>
						</div>
						<div class="feedback-img">
							<img src="../static/images/te1.jpg" class="img-fluid rounded-circle" alt="" />
						</div>
					</div>
				</div>
				<div class="item">
					<div class="feedback-info text-center">
						<div class="feedback-top border">
							<h4 class="mb-3 text-dark font-weight-bold">Steven Wison</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod.</p>
						</div>
						<div class="feedback-img">
							<img src="../static/images/te2.jpg" class="img-fluid rounded-circle" alt="" />
						</div>
					</div>
				</div>
				<div class="item">
					<div class="feedback-info text-center">
						<div class="feedback-top border">
							<h4 class="mb-3 text-dark font-weight-bold">Guptil Jone</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod.</p>
						</div>
						<div class="feedback-img">
							<img src="../static/images/te3.jpg" class="img-fluid rounded-circle" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //testimonials -->


	<!-- gallery -->
	<section class="gallery pt-5" id="gallery">
		<div class="pt-xl-5 pt-lg-3">
			<!-- heading title -->
			<div class="main-title text-center mb-5">
				<h3 class="tittle text-uppercase font-weight-bold">Gallery</h3>
				<div class="title-icon">
					<i class="fas fa-camera"></i>
				</div>
				<p class="sub-tittle">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation</p>
			</div>
			<!-- //heading title -->
			<ul class="portfolio-categ filter pb-sm-5 pb-4 mb-lg-3 text-center">
				<li class="port-filter all active">
					<a href="#">All</a>
				</li>
				<li class="cat-item-1">
					<a href="#" title="Category 1">category 1</a>
				</li>
				<li class="cat-item-2">
					<a href="#" title="Category 2">category 2</a>
				</li>
				<li class="cat-item-3">
					<a href="#" title="Category 3">category 3</a>
				</li>
			</ul>
			<ul class="portfolio-area clearfix">
				<li class="portfolio-item2" data-id="id-0" data-type="cat-item-3">
					<span class="image-block img-hover">
						<a class="image-zoom" href="../static/images/g1.jpg" data-gal="prettyPhoto[gallery]">
							<img src="../static/images/g1.jpg" class="img-fluid " alt="">
						</a>
					</span>
				</li>
				<li class="portfolio-item2" data-id="id-1" data-type="cat-item-2">
					<span class="image-block">
						<a class="image-zoom" href="../static/images/g2.jpg" data-gal="prettyPhoto[gallery]">
							<img src="../static/images/g2.jpg" class="img-fluid " alt="">
						</a>
					</span>
				</li>
				<li class="portfolio-item2" data-id="id-2" data-type="cat-item-1">
					<span class="image-block">
						<a class="image-zoom" href="../static/images/g3.jpg" data-gal="prettyPhoto[gallery]">
							<img src="../static/images/g3.jpg" class="img-fluid " alt="">
						</a>
					</span>
				</li>
				<li class="portfolio-item2" data-id="id-4" data-type="cat-item-3">
					<span class="image-block">
						<a class="image-zoom" href="../static/images/g4.jpg" data-gal="prettyPhoto[gallery]">
							<img src="../static/images/g4.jpg" class="img-fluid " alt="">
						</a>
					</span>
				</li>
				<li class="portfolio-item2" data-id="id-5" data-type="cat-item-2">
					<span class="image-block">
						<a class="image-zoom" href="../static/images/g5.jpg" data-gal="prettyPhoto[gallery]">
							<img src="../static/images/g5.jpg" class="img-fluid " alt="">
						</a>
					</span>
				</li>
				<li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
					<span class="image-block">
						<a class="image-zoom" href="../static/images/g6.jpg" data-gal="prettyPhoto[gallery]">
							<img src="../static/images/g6.jpg" class="img-fluid " alt="">
						</a>
					</span>
				</li>
				<li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
					<span class="image-block">
						<a class="image-zoom" href="../static/images/g7.jpg" data-gal="prettyPhoto[gallery]">
							<img src="../static/images/g7.jpg" class="img-fluid " alt="">
						</a>
					</span>
				</li>
				<li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
					<span class="image-block">
						<a class="image-zoom" href="../static/images/g8.jpg" data-gal="prettyPhoto[gallery]">
							<img src="../static/images/g8.jpg" class="img-fluid " alt="">
						</a>
					</span>
				</li>
			</ul>
			<!--end portfolio-area -->
		</div>
		<!-- //gallery container -->
	</section>
	<!-- //gallery -->

	<!-- contact -->
	<section class="contact py-5" id="contact">
		<div class="container py-xl-5 py-lg-3">
			<!-- heading title -->
			<div class="main-title text-center mb-5">
				<h3 class="tittle text-uppercase font-weight-bold">Contact Us</h3>
				<div class="title-icon">
					<i class="fas fa-camera"></i>
				</div>
				<p class="sub-tittle">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation</p>
			</div>
			<!-- //heading title -->
			<div class="main_grid_contact">
				<form action="#" method="post">
					<div class="row top-inputs-agile">
						<div class="col-md-4 form-group">
							<input class="form-control" type="text" name="Name" placeholder="Name" required="">
						</div>
						<div class="col-md-4 form-group px-md-0">
							<input class="form-control" type="email" name="Email" placeholder="Email" required="">
						</div>
						<div class="col-md-4 form-group">
							<input class="form-control" type="text" name="sublect" placeholder="Subject" required="">
						</div>
					</div>
					<div class="form-group">
						<textarea id="textarea" name="message" placeholder="Message"></textarea>
					</div>
					<div class="input-group1">
						<input class="form-control" type="submit" value="Send Message">
					</div>
				</form>
			</div>
		</div>
	</section>
	<!-- //contact -->

	

	{% endblock %}
	