{%extends 'layout.html'%}
{%block content%}

{% if alert %}
        <script>
            alert("Responded")
        </script>
    {% endif %}

<div class="newsletter_right_w3agile py-5" id="newsletter">
    <div class="container py-xl-5 py-lg-3">
        <!-- heading title -->
        <div class="main-title text-center mb-5">
            <h3 class="tittle text-uppercase text-white font-weight-bold">Registered Complaints</h3>
            <div class="title-icon">
                <i class="fas fa-camera"></i>  
            </div>
            
        </div>

                <table class="table table-striped table-bordered" style="color: #ffff;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>User Name</th>
                            <th>Contact</th>
                            <th>User type</th>
                            <th>Subject</th>
                            <th>Message</th>
                            {% if session['ut'] == "Contributor" %}
                            <th>Response</th>
                            {% endif %}
                        </tr>
                    </thead>
                <tbody>

                {% for i in a %}
                
                <tr>
                    <td>{{i.uid.name}}</td>
                    <td>{{i.uid.email}}</td>
                    <td>{{i.uid.number}}</td>
                    <td>{{i.uid.utype}}</td>          
                    <td>{{i.sub}}</td>
                    <td>{{i.message}}</td>
                    {% if session['ut'] == "admin" %} 
                    <td class="text-center"><a class='btn btn-info btn-xs' href="/response/{{i.id}}">
                        <span class="glyphicon glyphicon-edit"></span> Response</a>
                    </td>
                    {% elif session['ut'] == "Contributor" %}
                    <td>{{i.response}}</td>
                    {% endif %}
                </tr>       
                {% endfor %}
                    
                </tbody>
                </table>
</div>
</div>

{% endblock %}