{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/view_registrations.css">
</head>
<body>

    {% if session['ut'] == "Contributor" %}

    {% for i in a %}
        {% for j in b %}
            {% if j.cid.id == i.id %}
                    <div class="box">
                        <div class="box-top">
                            <img class="box-image" src="../static/uploads/{{ i.image }}">
                            <div class="title-flex">
                                <h3 class="box-title">Contest:{{ j.cid.title }}</h3><br>
                                <p class="user-follow-info">Name:{{ j.uid.name }}</p>
                                <p class="user-follow-info">Registered Date:{{ j.date }}</p>
                            </div>
                            <p class="description">Start Date:{{ j.cid.start_date }}</p>
                            <p class="description">End Date:{{ j.cid.end_date }}</p>
                        </div>
                    </div>
            {% endif %}
        {% endfor %}
    {% endfor %}


    {% elif session['ut'] == "User" %}


    {% for i in a %}

                <div class="wrap">
                    <div class="box">
                        <div class="box-top">
                            <img class="box-image" src="../static/uploads/{{ i.image }}">
                            <div class="title-flex">
                                <h3 class="box-title">Contest:{{ i.cid.title }}</h3>
                                <p class="user-follow-info">Name:{{ i.uid.name }}</p>
                                <p class="user-follow-info">Registered Date:{{ i.date }}</p>
                            </div>
                            <p class="description">Start Date:{{ i.cid.start_date }}</p>
                            <p class="description">End Date:{{ i.cid.end_date }}</p>
                        </div>
                    </div>
                </div>
    
    {% endfor %}

    {% endif %}
</body>
</html>
{% endblock %}
